body {
    background: #99CCFF;
}

.total {
    display: grid;
    height: 720px;
    width: 1200px;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
}

.score {
    text-align: center;
    font-size: 30px;
    line-height: 300px;
}

.count-down {
    margin: 0 auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: darkcyan;
    text-align: center;
    transition: .5s all ease-in-out
}

.count-down span {
    height: 100px;
    width: 100px;
    display: inline-block;
    border-radius: 50%;
    margin: 50px auto;
    font-family: sans-serif;
    line-height: 100px;
    color: azure;
    font-size: 50px;
    font-weight: bold
}

.tip {
    line-height: 100pz;
    text-align: center;
}

.main {
    height: 720px;
    width: 600px;
    margin: auto;
    background-color: white;
    border: black 2px solid;
}

.keyboard {
    position: absolute;
    z-index: 2;
    color: red;
}

#D {
    position: absolute;
    top: 450px;
    left: 75px;
}

#F {
    position: absolute;
    top: 450px;
    left: 225px;
}

#J {
    position: absolute;
    top: 450px;
    left: 375px;
}

#K {
    position: absolute;
    top: 450px;
    left: 525px;
}

.row {
    display: flex;
    height: 180px;
    width: 600px;
    position: relative;
    top: 0;
}

.box {
    height: 180px;
    width: 150px;
    background-color: white;
    border: black 1px solid;
}

.black {
    background-color: black;
}

.yellow {
    background-color: yellow;
}

.gray {
    background-color: gray;
}