body {
    background: #99CCFF;
}

.total {
    display: grid;
    height: 720px;
    width: 1200px;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
}

.score {
    text-align: center;
    font-size: 30px;
    line-height: 500px;
}

.tip {
    text-align: center;
}

.main {
    height: 720px;
    width: 600px;
    margin: auto;
    background-color: white;
    border: black 2px solid;
}

.keyboard {
    position: absolute;
    z-index: 2;
    color: red;
}

#D {
    position: absolute;
    top: 450px;
    left: 75px;
}

#F {
    position: absolute;
    top: 450px;
    left: 225px;
}

#J {
    position: absolute;
    top: 450px;
    left: 375px;
}

#K {
    position: absolute;
    top: 450px;
    left: 525px;
}

.row {
    display: flex;
    height: 180px;
    width: 600px;
    position: relative;
    top: 0;
}

.box {
    height: 180px;
    width: 150px;
    background-color: white;
    border: black 1px solid;
}

.black {
    background-color: black;
}

.yellow {
    background-color: yellow;
}

.gray {
    background-color: gray;
}